<!-- data.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <!-- header.html -->
    {% include 'header.html' %}

    <script src="/static/script_camera_stream.js"></script>

    <div class="container camera-view">
        <h1>Camera View</h1>
        <h1 id="timeDiv"></h1>
        <canvas class = "camera-canvas"id="main_camera" style="border:1px solid #000000;"></canvas>
    </div>

    <!-- footer.html -->
    {% include 'footer.html' %}

</body>

</html>