<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Data Collection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <!-- header.html -->
    {% include 'header.html' %}

    <div class="container">
        <h1>Welcome to Sensor Data Collection</h1>
        <div>
            <a href="/visualize-camera_view" class="button home-a2" style="background: #484891">View <b
                    style="color: 	#00BB00">Lab7</b></a>
        </div>

    </div>

    <!-- footer.html -->
    {% include 'footer.html' %}

</body>

</html>